<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AucWatch"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.Details"
            android:exported="false" />
        <activity
            android:name=".ui.main.UpdateUser"
            android:exported="false" />
        <activity
            android:name=".ui.main.BiddingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.addauction.AddWatchAuction"
            android:exported="false" />
        <activity
            android:name=".ui.main.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.UserFragment"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>